<a href="https://colab.research.google.com/github/serene1004/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장

## 5-1 CSV 형식 저장

In [4]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)

## CSV 형식 저장
df.to_csv('student_analysis.csv', encoding = 'utf-8', index = False)

## 5-2 JSON 형식 저장

In [9]:
### 라이브러리 임포트
import json
import pandas as pd

data = {
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
with open('output.json', mode='w', encoding = 'utf-8') as f:
    json.dump(data, f, indent=4, ensure_ascii=False)
## DataFrame을 이용한 저장
df = pd.DataFrame([data])
df.to_json('output_df.json', orient='records', indent=4, force_ascii=False)

## 5-3 Pandas Dataframe 데이터 추출

In [16]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)

## DataFrame 인덱스 출력
print(df.index)

## DataFrame 컬럼 출력
print(df.columns)

## DataFrame 행 출력
print(df.values.tolist())   ## list (파이썬 기본형)
print(df.values)            ## numpy.ndarray

## DataFrame 값 출력
print(df.values.flatten())  ## flatten - 기존의 구조를 무시하고 나열

RangeIndex(start=0, stop=5, step=1)
Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')
[['김철수', 1, 4.2, '컴퓨터학', '프로그래밍'], ['이영희', 2, 3.8, '경영학', '독서토론'], ['박민수', 3, 4.5, '농학', '로봇공학'], ['최지훈', 4, 3.9, '교육학', '봉사활동'], ['정소희', 2, 3.5, '영어영문학', '음악감상']]
[['김철수' 1 4.2 '컴퓨터학' '프로그래밍']
 ['이영희' 2 3.8 '경영학' '독서토론']
 ['박민수' 3 4.5 '농학' '로봇공학']
 ['최지훈' 4 3.9 '교육학' '봉사활동']
 ['정소희' 2 3.5 '영어영문학' '음악감상']]
['김철수' 1 4.2 '컴퓨터학' '프로그래밍' '이영희' 2 3.8 '경영학' '독서토론' '박민수' 3 4.5 '농학'
 '로봇공학' '최지훈' 4 3.9 '교육학' '봉사활동' '정소희' 2 3.5 '영어영문학' '음악감상']

## 5-4 DataFrame 생성 방법

In [19]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## 딕셔너리, csv, json으로 부터 DataFrame 생성
df1 = pd.DataFrame.from_dict(data)
df2 = pd.read_csv('students.csv')
df3 = pd.read_json('students.json')

## 세가지 방법 결과 비교
print(df1.shape)
print(df2.shape)
print(df3.shape)

(5, 5)
(5, 5)
(5, 5)

## 5-5 DataFrame 저장 방법

In [22]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df = pd.DataFrame(data)

## CSV, JSON 형식으로 저장
df.to_csv('students_scores.csv')
df.to_json('students_scores.json')

## HTML 형식으로 저장
html_table = df.to_html()
with open('students_scores.html', 'w') as f:
    f.write(html_table)

## 5-6 실습 시나리오

## 데이터 수집

In [ ]:
import requests

url = "http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getMinuDustFrcstDspth"
api_key = 'API_KEY'

params = {
    'serviceKey': api_key,
    'returnType': 'json',
    'numOfRows': '100',
    'pageNo': '1',
    'sidoName': '서울',
    'ver': '1.0'
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력
print(response.json())

{'response': {'body': {'totalCount': 840, 'items': [{'informCode': 'O3', 'dataTime': '2025-08-26'}, {'informCode': 'PM25', 'dataTime': '2025-08-26'}, {'informCode': 'PM10', 'dataTime': '2025-08-26'}, {'informCode': 'PM10', 'dataTime': '2025-08-26'}, {'informCode': 'PM25', 'dataTime': '2025-08-26'}, {'informCode': 'PM25', 'dataTime': '2025-08-26'}, {'informCode': 'O3', 'dataTime': '2025-08-26'}, {'informCode': 'O3', 'dataTime': '2025-08-26'}, {'informCode': 'PM10', 'dataTime': '2025-08-26'}, {'informCode': 'PM10', 'dataTime': '2025-08-26'}, {'informCode': 'PM25', 'dataTime': '2025-08-26'}, {'informCode': 'PM25', 'dataTime': '2025-08-26'}, {'informCode': 'O3', 'dataTime': '2025-08-26'}, {'informCode': 'O3', 'dataTime': '2025-08-26'}, {'informCode': 'PM10', 'dataTime': '2025-08-26'}, {'informCode': 'PM10', 'dataTime': '2025-08-26'}, {'informCode': 'PM10', 'dataTime': '2025-08-26'}, {'informCode': 'PM25', 'dataTime': '2025-08-26'}, {'informCode': 'PM25', 'dataTime': '2025-08-26'}, {'informCode': 'PM25', 'dataTime': '2025-08-26'}, {'informCode': 'O3', 'dataTime': '2025-08-26'}, {'informCode': 'O3', 'dataTime': '2025-08-26'}, {'informCode': 'PM10', 'dataTime': '2025-08-26'}, {'informCode': 'PM10', 'dataTime': '2025-08-26'}, {'informCode': 'PM10', 'dataTime': '2025-08-26'}, {'informCode': 'PM25', 'dataTime': '2025-08-26'}, {'informCode': 'PM25', 'dataTime': '2025-08-26'}, {'informCode': 'O3', 'dataTime': '2025-08-26'}, {'informCode': 'PM25', 'dataTime': '2025-08-25'}, {'informCode': 'PM25', 'dataTime': '2025-08-25'}, {'informCode': 'O3', 'dataTime': '2025-08-25'}, {'informCode': 'PM10', 'dataTime': '2025-08-25'}, {'informCode': 'PM10', 'dataTime': '2025-08-25'}, {'informCode': 'PM25', 'dataTime': '2025-08-25'}, {'informCode': 'PM25', 'dataTime': '2025-08-25'}, {'informCode': 'O3', 'dataTime': '2025-08-25'}, {'informCode': 'O3', 'dataTime': '2025-08-25'}, {'informCode': 'PM10', 'dataTime': '2025-08-25'}, {'informCode': 'PM10', 'dataTime': '2025-08-25'}, {'informCode': 'PM25', 'dataTime': '2025-08-25'}, {'informCode': 'PM25', 'dataTime': '2025-08-25'}, {'informCode': 'O3', 'dataTime': '2025-08-25'}, {'informCode': 'O3', 'dataTime': '2025-08-25'}, {'informCode': 'PM10', 'dataTime': '2025-08-25'}, {'informCode': 'PM10', 'dataTime': '2025-08-25'}, {'informCode': 'PM10', 'dataTime': '2025-08-25'}, {'informCode': 'PM25', 'dataTime': '2025-08-25'}, {'informCode': 'PM25', 'dataTime': '2025-08-25'}, {'informCode': 'PM25', 'dataTime': '2025-08-25'}, {'informCode': 'O3', 'dataTime': '2025-08-25'}, {'informCode': 'O3', 'dataTime': '2025-08-25'}, {'informCode': 'PM10', 'dataTime': '2025-08-25'}, {'informCode': 'PM10', 'dataTime': '2025-08-25'}, {'informCode': 'PM10', 'dataTime': '2025-08-25'}, {'informCode': 'PM25', 'dataTime': '2025-08-25'}, {'informCode': 'O3', 'dataTime': '2025-08-25'}, {'informCode': 'O3', 'dataTime': '2025-08-24'}, {'informCode': 'PM25', 'dataTime': '2025-08-24'}, {'informCode': 'PM10', 'dataTime': '2025-08-24'}, {'informCode': 'PM10', 'dataTime': '2025-08-24'}, {'informCode': 'PM25', 'dataTime': '2025-08-24'}, {'informCode': 'PM25', 'dataTime': '2025-08-24'}, {'informCode': 'O3', 'dataTime': '2025-08-24'}, {'informCode': 'O3', 'dataTime': '2025-08-24'}, {'informCode': 'PM10', 'dataTime': '2025-08-24'}, {'informCode': 'PM10', 'dataTime': '2025-08-24'}, {'informCode': 'PM25', 'dataTime': '2025-08-24'}, {'informCode': 'PM25', 'dataTime': '2025-08-24'}, {'informCode': 'O3', 'dataTime': '2025-08-24'}, {'informCode': 'O3', 'dataTime': '2025-08-24'}, {'informCode': 'PM10', 'dataTime': '2025-08-24'}, {'informCode': 'PM10', 'dataTime': '2025-08-24'}, {'informCode': 'PM10', 'dataTime': '2025-08-24'}, {'informCode': 'PM25', 'dataTime': '2025-08-24'}, {'informCode': 'PM25', 'dataTime': '2025-08-24'}, {'informCode': 'PM25', 'dataTime': '2025-08-24'}, {'informCode': 'O3', 'dataTime': '2025-08-24'}, {'informCode': 'O3', 'dataTime': '2025-08-24'}, {'informCode': 'PM10', 'dataTime': '2025-08-24'}, {'informCode': 'PM10', 'dataTime': '2025-08-24'}, {'informCode': 'PM10', 'dataTime': '2025-08-24'}, {'informCode': 'PM25', 'dataTime': '2025-08-24'}, {'informCode': 'PM25', 'dataTime': '2025-08-24'}, {'informCode': 'O3', 'dataTime': '2025-08-24'}, {'informCode': 'PM10', 'dataTime': '2025-08-23'}, {'informCode': 'PM10', 'dataTime': '2025-08-23'}, {'informCode': 'PM25', 'dataTime': '2025-08-23'}, {'informCode': 'PM25', 'dataTime': '2025-08-23'}, {'informCode': 'O3', 'dataTime': '2025-08-23'}, {'informCode': 'O3', 'dataTime': '2025-08-23'}, {'informCode': 'PM10', 'dataTime': '2025-08-23'}, {'informCode': 'PM10', 'dataTime': '2025-08-23'}, {'informCode': 'PM25', 'dataTime': '2025-08-23'}, {'informCode': 'PM25', 'dataTime': '2025-08-23'}, {'informCode': 'O3', 'dataTime': '2025-08-23'}, {'informCode': 'O3', 'dataTime': '2025-08-23'}, {'informCode': 'PM10', 'dataTime': '2025-08-23'}, {'informCode': 'PM10', 'dataTime': '2025-08-23'}, {'informCode': 'PM25', 'dataTime': '2025-08-23'}, {'informCode': 'PM25', 'dataTime': '2025-08-23'}], 'pageNo': 1, 'numOfRows': 100}, 'header': {'resultMsg': 'NORMAL_CODE', 'resultCode': '00'}}}

## 데이터 프레임 생성

In [41]:
import pandas as pd

## requests로부터 response, body, item 항목 읽기
data = response.json()['response']['body']['items']
print(type(data), len(data), data[0])

df = pd.DataFrame(data)
df.head()
df['informCode']    ## 가져오고싶은 컬럼

<class 'list'> 100 {'informCode': 'O3', 'dataTime': '2025-08-26'}

0       O3
1     PM25
2     PM10
3     PM10
4     PM25
      ...
95      O3
96    PM10
97    PM10
98    PM25
99    PM25
Name: informCode, Length: 100, dtype: object

## 다양항 형식으로 데이터 저장

In [48]:
df.to_csv('air_pollution.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장
df.to_json('air_pollution.json', indent=4, force_ascii=False)

## EXCEL 형식 데이터 저장
df.to_excel('air_pollution.xlsx', index=False)

## HTML 형식 데이터 저장
df.to_html('air_pollution.html')